*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#judul{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#page{
    background-color: lightgray;
    padding-top: 0.5%;
    size: 100%;
}
#background{
    background-color: white;
    height: 1300px;
    width: 70%;
    margin-left: 15%;
}
#header{
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: white ;
    width: 98%;
    height: 250px;
    
    border-bottom: 5px solid lightgray ;
    margin-bottom: 8%;
}
.kiri img{
    float: left;
    width: 30%;
}
.kanan{
    float: right;
    padding-right: 5%;
}
ul {
    list-style: none;
    padding-bottom: 1%;
}

.button{
    color: white;
    margin-top: 2%;
    margin-left: 45%;
    margin-right: auto;
    font-size: 25px;
    width: 15%;
    border-radius: 12px;
    border: none;
    background-color: #e74c3c;
}